<!-- Include this script tag or install `@tailwindplus/elements` via npm: -->
<!-- <script src="https://cdn.jsdelivr.net/npm/@tailwindplus/elements@1" type="module"></script> -->
<!--
  This example requires updating your template:

  ```
  <html class="h-full bg-white">
  <body class="h-full">
  ```
-->
<%= render "dashboard/shared/side_nav"  %>

<%= turbo_frame_tag "dashboard_content" do %>
  <div class="xl:pl-72">

    <main>
      DASHBOARD HOME
    </main>
  </div>
<% end %>
