
<div class="flow-root">
  <div class="">
    <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
      <div class="overflow-hidden shadow-sm outline-1 outline-black/5 sm:rounded-lg">
        <table class="relative min-w-full table-fixed w-full max-w-2xl divide-y divide-gray-300 table-fixed w-full">
          <thead class="bg-gray-50">
            <tr>
              <th scope="col" class="w-3/6 py-3.5 pr-3 pl-4 text-left text-sm font-semibold text-gray-900 sm:pl-6">Title</th>
              <th scope="col" class="w-2/6 py-3.5 pr-3 pl-4 text-left text-sm font-semibold text-gray-900 sm:pl-6">Topic Association</th>
              <th scope="col" class="w-1/6 py-3.5 pr-3 pl-4 text-left text-sm font-semibold text-gray-900 sm:pl-6">Actions</th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200 bg-white text-gray-700 ">
            <%= render "dashboard/posts/index/table_data" %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
