      <div class="my-4 grid gap-2">
        <div class="border border-gray-200 shadow rounded-sm p-4 grid grid-cols-1 md:grid-cols-5">
          <div class="grid gap-2 items-center">
            <h2 class="font-semibold text-gray-800 text-xl">Next Js Installation -1</h2>
            <div>
              <span class="text-sm">Last update: 1/20/2025 2:56PM</span>
            </div>
            <div class="flex gap-3">
              <a href="#"><%= phosphor_icon "pencil", class: "h-8 w-8 text-indigo-600 p-2 bg-white shadow rounded-full" %></a>
              <a href="#"><%= phosphor_icon "trash", class: "h-8 w-8 text-red-600 p-2 bg-white shadow rounded-full" %></a>
            </div>

          </div>
          <div class="col-span-2">
            <h2 class="font-semibold text-gray-800">Included in Topic:</h2>
            <div class="flex gap-2 flex-wrap">
              <a href="#" class="text-indigo-600 p-1 rounded-sm text-sm border border-gray-300">Reiciendis deserunt repellendus</a>
              <a href="#" class="text-indigo-600 p-1 rounded-sm text-sm border border-gray-300">Voluptas vitae modi dolores quo</a>
              <a href="#" class="text-indigo-600 p-1 rounded-sm text-sm border border-gray-300">Ea maiores exercitationem eveniet</a>
              <a href="#" class="text-indigo-600 p-1 rounded-sm text-sm border border-gray-300">Consectetur adipisicing elit</a>
            </div>
          </div>
          <div class="col-span-2">
            <h2 class="font-semibold text-gray-800">Parts attached to this Post:</h2>
            <div class="flex gap-2 flex-wrap">
              <a href="#" class="text-indigo-600 p-1 rounded-sm text-sm border border-gray-300">Lorem ipsum dolor sit.</a>
              <a href="#" class="text-indigo-600 p-1 rounded-sm text-sm border border-gray-300">Amet consectetur adipisicing elit.</a>
              <a href="#" class="text-indigo-600 p-1 rounded-sm text-sm border border-gray-300">Veritatis, quas!</a>
              <a href="#" class="text-indigo-600 p-1 rounded-sm text-sm border border-gray-300">Qas ipsum dolor, adipisicing elit sit amet</a>
            </div>
          </div>
        </div>
      </div>
