
<%= render "dashboard/shared/layout" do %>

  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="heading-underlined">Usage</h1>
      <p class="mt-2 text-sm text-gray-700">Estimated usage as of <time datetime="2022-08-31">August 31, 2025</time>.</p>
    </div>
  </div>

  <div class="mt-8 flow-root sm:mx-0 max-w-162 mx-auto">
    <div class="flex">
      <h4 class="text-3xl">Member Status: <span class="text-indigo-600">Academic - Tier 1</span>
      <sup  class="text-xs align-top gap-x-1.5 rounded-md p-1 text-gray-900 inset-ring inset-ring-indigo-200">
        Upgrade
      </sup></h4>
    </div>
    <table class="min-w-full">
      <colgroup>
        <col class="w-full sm:w-1/2" />
        <col class="sm:w-1/6" />
        <col class="sm:w-1/6" />
        <col class="sm:w-1/6" />
      </colgroup>
      <thead class="border-b border-gray-300 text-gray-900">
        <tr>
          <th scope="col" class="py-3.5 pr-3 pl-4 text-left text-sm font-semibold text-gray-900 sm:pl-0">Feature</th>
          <th scope="col" class="hidden px-3 py-3.5 text-right text-sm font-semibold text-gray-900 sm:table-cell">Allocated</th>
          <th scope="col" class="hidden px-3 py-3.5 text-right text-sm font-semibold text-gray-900 sm:table-cell">Limit</th>
          <th scope="col" class="py-3.5 pr-4 pl-3 text-right text-sm font-semibold text-gray-900 sm:pr-0"></th>
        </tr>
      </thead>
      <tbody>
        <tr class="border-b border-gray-200">
          <td class="max-w-0 py-5 pr-3 pl-4 text-sm sm:pl-0">
            <div class="font-medium text-gray-900">Collections</div>
            <div class="mt-1 truncate text-gray-500">Lorem ipsum dolor sit.</div>
          </td>
          <td class="hidden px-3 py-5 text-right text-sm text-gray-500 sm:table-cell">3</td>
          <td class="hidden px-3 py-5 text-right text-sm text-gray-500 sm:table-cell">5</td>
          <td class="py-5 pr-4 pl-3 text-right text-sm text-gray-500 sm:pr-0"></td>
        </tr>
        <tr class="border-b border-gray-200">
          <td class="max-w-0 py-5 pr-3 pl-4 text-sm sm:pl-0">
            <div class="font-medium text-gray-900">Topics</div>
            <div class="mt-1 truncate text-gray-500">Lorem ipsum dolor sit amet.</div>
          </td>
          <td class="hidden px-3 py-5 text-right text-sm text-gray-500 sm:table-cell">20</td>
          <td class="hidden px-3 py-5 text-right text-sm text-gray-500 sm:table-cell">50</td>
          <td class="py-5 pr-4 pl-3 text-right text-sm text-gray-500 sm:pr-0"></td>
        </tr>
        <tr class="border-b border-gray-200">
          <td class="max-w-0 py-5 pr-3 pl-4 text-sm sm:pl-0">
            <div class="font-medium text-gray-900">Privacy Control (Collections & Topics)</div>
            <div class="mt-1 truncate text-gray-500">Lorem ipsum dolor sit amet.</div>
          </td>
          <td class="hidden px-3 py-5 text-right text-sm text-gray-500 sm:table-cell">3</td>
          <td class="hidden px-3 py-5 text-right text-sm text-gray-500 sm:table-cell">5</td>
          <td class="py-5 pr-4 pl-3 text-right text-sm text-gray-500 sm:pr-0"></td>
        </tr>
        <tr class="border-b border-gray-200">
          <td class="max-w-0 py-5 pr-3 pl-4 text-sm sm:pl-0">
            <div class="font-medium text-gray-900">Members Invited</div>
            <div class="mt-1 truncate text-gray-500">Lorem ipsum dolor sit amet.</div>
          </td>
          <td class="hidden px-3 py-5 text-right text-sm text-gray-500 sm:table-cell">10</td>
          <td class="hidden px-3 py-5 text-right text-sm text-gray-500 sm:table-cell">30</td>
          <td class="py-5 pr-4 pl-3 text-right text-sm text-gray-500 sm:pr-0"></td>
        </tr>
        <tr class="border-b border-gray-200">
          <td class="max-w-0 py-5 pr-3 pl-4 text-sm sm:pl-0">
            <div class="font-medium text-gray-900">Image Uploads</div>
            <div class="mt-1 truncate text-gray-500">Lorem ipsum dolor sit amet.</div>
          </td>
          <td class="hidden px-3 py-5 text-right text-sm text-gray-500 sm:table-cell">40</td>
          <td class="hidden px-3 py-5 text-right text-sm text-gray-500 sm:table-cell">60</td>
          <td class="py-5 pr-4 pl-3 text-right text-sm text-gray-500 sm:pr-0"></td>
        </tr>
        <tr class="border-b border-gray-200">
          <td class="max-w-0 py-5 pr-3 pl-4 text-sm sm:pl-0">
            <div class="font-medium text-gray-900">Paid Content</div>
            <div class="mt-1 truncate text-gray-500">Lorem ipsum dolor sit amet.</div>
          </td>
          <td colspan="2" class="hidden px-3 py-5 text-right text-sm text-gray-500 sm:table-cell">Upgrade to <span class="text-indigo-600">Writer Tier <br/> (see qualifications)</span></td>
          <td class="py-5 pr-4 pl-3 text-right text-sm text-gray-500 sm:pr-0"></td>
        </tr>
        <tr class="border-b border-gray-200">
          <td class="max-w-0 py-5 pr-3 pl-4 text-sm sm:pl-0">
            <div class="font-medium text-gray-900">Quizzes Modules</div>
            <div class="mt-1 truncate text-gray-500">Lorem ipsum dolor sit amet.</div>
          </td>
          <td colspan="2" class="hidden px-3 py-5 text-right text-sm text-gray-500 sm:table-cell">Upgrade to <span class="text-indigo-600">Professor Tier <br/> (see qualifications)</span></td>
          <td class="py-5 pr-4 pl-3 text-right text-sm text-gray-500 sm:pr-0"></td>
        </tr>
        <tr class="border-b border-gray-200">
          <td class="max-w-0 py-5 pr-3 pl-4 text-sm sm:pl-0">
            <div class="font-medium text-gray-900">Customized Bio Page and Postings</div>
            <div class="mt-1 truncate text-gray-500">Lorem ipsum dolor sit amet.</div>
          </td>
          <td colspan="2" class="hidden px-3 py-5 text-right text-sm text-gray-500 sm:table-cell">Upgrade to <span class="text-indigo-600">Stylist Tier <br/> (see qualifications)</span></td>
          <td class="py-5 pr-4 pl-3 text-right text-sm text-gray-500 sm:pr-0"></td>
        </tr>
      </tbody>

    </table>
  </div>


<% end %>
