<%= render "dashboard/shared/side_nav"  %>

<%= turbo_frame_tag "dashboard_content" do  %>
<div class="xl:pl-72">
  <div class="max-w-7xl w-full p-5">
    <div class="flex items-center gap-x-4 w-1/3">
      <p class="text-sm font-medium text-gray-900">Posts</p>
      <div aria-hidden="true" class="mt-6">
        <div class="overflow-hidden rounded-full bg-gray-200">
          <div style="width: 37.5%" class="h-2 rounded-full bg-indigo-600"></div>
        </div>
        <div class="hidden grid-cols-4 text-sm font-medium text-gray-600 sm:grid">
          <div class="text-indigo-600">2</div>
          <div class="text-right">20</div>
        </div>
      </div>
    </div>

  </div>
</div>
<% end %>
