

<div class="bg-white">
  <div class="bg-indigo-600 p-5 -mb-[50px] min-h-[150px]">
  <div class="container mx-auto">
  <div class="flex justify-start">
    <h2 class="text-white mt-3 text-3xl grow">Categories</h2>
    <button command="show-modal" commandfor="dialog" class="inline-flex items-center btn-primary">
      <%= phosphor_icon "plus"  %>
      Add New Category
    </button>
  </div>
  </div>

  </div>
  <div class="container mx-auto">
    <div class="bg-white p-5">
    <ul role="list" class="p-0 grid grid-cols-1 gap-5 sm:grid-cols-2 sm:gap-6 lg:grid-cols-4">
      <% @categories.each do |category|  %>
      <li class="col-span-1 flex rounded-md shadow-xs">
        <%# <div class="flex w-16 shrink-0 items-center justify-center rounded-l-md bg-pink-600 text-sm font-medium text-white">GA</div> %>
        <div class="flex flex-1 items-center justify-between truncate rounded-r-md border border-gray-200 bg-white">
          <div class="flex-1 truncate px-4 py-2 text-sm">
            <%= link_to category.name, dashboard_category_path(category), class:"font-medium text-gray-900 hover:text-gray-600"%>
          </div>
          <div class="shrink-0 pr-2">
            <button type="button" class="inline-flex size-8 items-center justify-center rounded-full text-gray-400 hover:text-gray-500 focus:outline-2 focus:outline-offset-2 focus:outline-indigo-600">
              <span class="sr-only">Open options</span>
              <svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true" class="size-5">
                <path d="M10 3a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM10 8.5a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM11.5 15.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0Z" />
              </svg>
            </button>
          </div>
        </div>
      </li>
      <% end  %>
    </ul>
  </div>
  </div>

</div>

  <%= render 'shared/modal' do %>
    <%= render 'form'  %>
  <% end %>
