

<%= simple_form_for [:dashboard, @part] do |f| %>
 <div class="col-span-full">
    <%# <label for="street-address" class="block text-sm/6 font-medium text-gray-900">Title</label> %>
    <div class="mt-2">
      <%= f.input :title %>
    </div>
    <%= render "dashboard/shared/form_field_description", f:f  %>

    <div class="mt-2">
      <%= f.submit class: "btn-primary" %>
    </div>
  </div>

<% end %>
