<%# locals: (links: []) -%>
<nav aria-label="Breadcrumb" class="flex">
  <ol role="list" class="flex items-center text-sm font-medium text-gray-500">
  <% links.each_with_index do |link, index| %>
    <% if index > 0 %>
      <%= phosphor_icon "caret-double-right", class: "h-2 w-2 m-2" %>
    <% end %>
    <li class="flex items-center">
      <% if link[:url] %>
        <%= link_to link[:text], link[:url]  %>
      <% else %>
        <%= link[:text] %>
      <% end %>
    </li>

  <% end %>
  </ol>
</nav>
