<%#= render "dashboard/shared/side_nav"  %>


<%= turbo_frame_tag "dashboard_content" do %>
<div class="xl:pl-72">
  <div class="grid max-w-7xl grid-cols-1 gap-x-8 gap-y-10 px-4 py-16 sm:px-6 md:grid-cols-3 lg:px-8">
    Activity Index page
  </div>
</div>
<% end %>
