<%# frozen_string_literal: true %>
<%# locals: (title: 'Please provide (title: string)') %>
<turbo-frame id="turbo_dashboard_edit_title">
  <div class="flex justify-start">
    <h2 class="text-white mt-3 text-3xl grow"><%= title  %></h2>
  </div>
</turbo-frame>
