<%# frozen_string_literal: true %>
<%# locals: (title: 'Please provide (title: string)') %>
<turbo-frame id="turbo_dashboard_edit_title">
  <div class="styled-border-b">
    <h2 class="text-4xl"><%= title  %></h2>
  </div>
</turbo-frame>
